md-dialog(aria-label="Query syntax")
  md-toolbar
    div(class="md-toolbar-tools")
      h2.md-title Molecular query syntax
  md-dialog-content
    p The query syntax is as follows
    p There are six comparison operators:
    ul
      li <b>=</b> - string or numeric equals in the case of string equals <b>*</b> can be used as a wildcard.
      li <b>!=</b> - string or numeric not equals.
      li <b>&gt;</b> - numeric greater than, has no meaning for strings.
      li <b>&gt;=</b> - numeric greater than or equal , has no meaning for strings.
      li <b>&lt;</b> - numeric less than, has no meaning for strings.
      li <b>&lt;=</b> - numeric less than or equal , has no meaning for strings.

    p The comparison operators can be using with the follow string fields:
    ul
      li <b>inchi</b>
      li <b>inchikey</b>
      li <b>name</b>
      li <b>formula</b>

    p or the following numeric fields:
    ul
      li <b>mass</b>
      li <b>atomCount</b>

    p The comparison operators can be combine using the following two boolean operator, precedence is left to right:
    ul
      li <b>|</b> - logical OR
      li <b>&</b> - logical AND
