md-dialog(aria-label="Query syntax")
  md-toolbar
    div(class="md-toolbar-tools")
      h2.md-title Molecular query syntax
  md-dialog-content
    p The query syntax is documented below, where different fields may be combined.
    p There are two comparison operators for strings and numerics:
    ul
      li <b>=</b> - equals, in the case of string equals <b>*</b> can be used as a wildcard
      li <b>!=</b> - not equals
    p There are four additional operators for numerics (with no meaning for strings):
    ul
      li <b>&gt;</b> - greater than
      li <b>&gt;=</b> - greater than or equal
      li <b>&lt;</b> - less than
      li <b>&lt;=</b> - less than or equal

    p The comparison operators can be using with the follow string fields:
    ul
      li <b>inchi</b>
      li <b>inchikey</b>
      li <b>name</b>
      li <b>formula</b>

    p or the following numeric fields:
    ul
      li <b>mass</b>
      li <b>atomCount</b>
      li <b>heavyAtomCount</b>

    p The comparison operators can be combined using the following two boolean operators, where precedence is left to right:
    ul
      li <b>|</b> - logical OR
      li <b>&</b> - logical AND
