div.chem-phy-web-max-height(layout="column")
  md-toolbar(layout="row")
    h1.md-toolbar-tools(layout-align-gt-sm="center") {{message}}
  div(flex, layout="row")
    chem-phy-web-side
    div(flex, layout="column", ui-view="main")
