div.mongochem-max-height(layout="column")
  md-toolbar(layout="row")
    h1.md-toolbar-tools(layout-align-gt-sm="start")
      a(href="#/", flex="")
        md-icon(md-svg-src="/imgs/mongochem.svg", alt="MongoChem", class="md-default-theme mongochem-logo", aria-hidden="true")
        {{message}}
    span(flex)
    h1.md-toolbar-tools(layout-align-gt-sm="end")
      md-button.md-icon-button(aria-label="Login")
        md-tooltip Login
        ng-md-icon(icon="input", style="fill:white", layout="row", layout-align="end center")

  div(flex, layout="row")
    mongochem-side
    div(flex, layout="column", ui-view="main")
