div.mongochem-max-height(layout="column")
  md-toolbar(layout="row")
    h1.md-toolbar-tools(layout-align="start", layout="column")
      md-menu.mongochem-menu(layout-align="start")
        md-button.md-icon-button.mongochem-menu(aria-label="Menu", ng-click="$mdOpenMenu()")
          md-tooltip Menu
          ng-md-icon(icon="menu", style="fill:white", layout="row", layout-align="start center")
        md-menu-content(width="4")
          md-menu-item(ng-repeat="item in items")
            md-button.md-primary(ng-click="goTo(item.state)") {{item.name}}
          md-menu-item(ng-show="allowUpload()")
            md-button#mongochem-launch-filebrowser.md-primary(ng-show="allowUpload()", ng-click="showUploadDialog($event)") Upload
            input#mongochem-file-upload(type="file", multiple="true", style="display:none")
      a(href="#/", flex="", hide-sm)
        md-icon(md-svg-src="imgs/mongochem.svg", alt="MongoChem", class="md-default-theme mongochem-logo", aria-hidden="true")
        {{message}}
    span(flex)
    h1.md-toolbar-tools(layout-align="end")
      md-button.md-icon-button(aria-label="Login", ng-click="showLogin($event)", ng-show="!isLoggedIn()")
        md-tooltip Login
        ng-md-icon(icon="input", style="fill:white", layout="row", layout-align="end center")
      img.monogchem-gravatar(ng-src="{{gravatarUrl}}", alt="{{userName}}", ng-show="isLoggedIn()", ng-click="logout()")

  div(flex, layout="row")
    mongochem-side
    div(flex, layout="column", ui-view="main")
