md-content(ng-controller="mongochemMolecules", flex, layout="column")
  md-content(ng-controller="mongochemMoleculeHome", layout="column", flex)
    md-card(flex, style="background-color: #ddd", layout='column')
      md-card-content(flex, layout='column')
        md-content(layout="row", layout-align="end center")
          md-button.md-fab.md-primary.md-mini(aria-label="Animate", ng-click="animateMolecule()", ng-show="hasAnimation()")
            ng-md-icon(icon="play_arrow",  style="fill: white", ng-hide="isAnimating")
            ng-md-icon(icon="pause",  style="fill: white", ng-show="isAnimating")
          md-button.md-fab.md-primary.md-mini(aria-label="Frequencies", ng-click="toggleFrequencies()", ng-show="false")
            ng-md-icon(icon="equalizer",  style="fill: white")
          md-button.md-fab.md-primary.md-mini(aria-label="Show", ng-click="showMolecule(selectedMolecule.inchikey)")
            ng-md-icon(icon="launch", style="fill: white")
        md-content.mongochem-no-scroll#mongochem-3dmol(mongochem-3dmol, flex, style="margin-top: -52px;", ng-class="{'mongochem-frequency-overlay': hasAnimationData && showFrequenciesHistogram}")
          md-card(ng-show="hasAnimationData && showFrequenciesHistogram")
            md-content(mongochem-frequency-histogram, data="frequencyData", style="width: 400px; height: 300px; background-color: transparent;", mongochem-animating="{{isAnimating}}")
        div.md-actions(layout="row", layout-align="end center")
          md-button(ng-click="setViewStyle('line')") Lines
          md-button(ng-click="setViewStyle('stick')") Sticks
          md-button(ng-click="setViewStyle('ball')") Balls
    md-card
      md-card-content(layout="row", layout-align="start center")
        h2.md-title Molecule:
        md-select(ng-model="selectedMolecule", ng-change="setInchiKey(selectedMolecule.inchikey)")
          md-option(ng-repeat="molecule in molecules", ng-value="molecule") {{ molecule.name | mongochemUnderscores }}

