div(ng-controller="mongochemMolecules")
  div(ng-controller="mongochemMoleculeHome")
    md-card
      md-card-content(layout="row", layout-align="space-between center", style="padding: 7px")
        div(layout="row", layout-align="start center")
            div.md-title Molecule:
            md-select(id="mongochem-select-molecule", ng-model="selectedMolecule", ng-change="setInchiKey(selectedMolecule.inchikey)")
              md-option(ng-repeat="molecule in molecules", ng-value="molecule") {{ molecule.name | mongochemUnderscores }}
            div.md-title Type:
            md-select(id='mongochem-select-type', ng-model='selectedCalculationType', ng-change='setCalculationType(selectedCalculationType)')
              md-option(ng-repeat='type in calculationTypes', ng-value='type') {{ type }}
            div.md-title Calculation:
            md-select(id='mongochem-select-calculation', ng-model='selectedCalculation', ng-change='setCalculation(selectedCalculation._id)')
              md-option(ng-repeat='calculation in calcs', ng-value='calculation') {{ calculation.properties.friendlyName }}

        md-input-container(id='mongochem-search', md-no-float, layout="row", layout-aligin="start center", ng-class="{'md-input-invalid': !search.valid}")
          md-button(aria-label="Help", class="md-icon-button", ng-click="showQueryHelpDialog($event)")
            ng-md-icon(icon="search", style="display:inline-block;")
            md-tooltip(md-direction="left") Click for query syntax
          input(id="mongochem-query-input", ng-model="search.queryString", type="text", placeholder="Enter query")

    div(layout-gt-md='row')
      md-card(flex, layout='row', style='height: 600px')
        md-card-content(flex, layout='column')
          md-content(layout="row", layout-align="end center", style="position: static; background-color: transparent; z-index: 1000;")
            md-button.md-fab.md-primary.md-mini(aria-label="Animate", ng-click="animateMolecule()", ng-show="hasAnimation()")
              ng-md-icon(icon="play_arrow",  style="fill: white", ng-hide="viewer.isAnimated()")
              ng-md-icon(icon="pause",  style="fill: white", ng-show="viewer.isAnimated()")
            md-button.md-fab.md-primary.md-mini(aria-label="Frequencies", ng-click="toggleFrequencies()", ng-show="false")
              ng-md-icon(icon="equalizer",  style="fill: white")
            md-button.md-fab.md-primary.md-mini(aria-label="Show", ng-click="showMolecule(selectedMolecule.inchikey)")
              ng-md-icon(icon="launch", style="fill: white")
          md-content.mongochem-no-scroll#mongochem-3dmol(mongochem-3dmol, flex, style="margin-top: -52px;")
          div.md-actions(layout="row", layout-align="end center")
            md-button(ng-click="setViewStyle('line')") Ball & Stick
            md-button(ng-click="setViewStyle('stick')") Stick
            md-button(ng-click="setViewStyle('ball')") Ball
      md-card(flex, layout='row')
        md-card-content(flex, layout='column')
          md-content(mongochem-vibrational-modes-chart, class='mongochem-no-select', ng-show="hasSpectra()", data="vibrationalModes", style="width: 100%; height: 300px; background-color: transparent;", mongochem-animating="{{isAnimating}}")
          div(layout='row', ng-show='hasSpectra()')
            div(flex='15', layout, layout-align='center center')
              span Scalar:
            md-slider(flex, min='0', max='100', ng-model='spectra.scale', class='md-primary', aria-label='scale', id='scale-slider', ng-mouseup="updateFrames()")
          div(layout='row', ng-show='hasOrbitals()')
            div(flex='15', layout, layout-align='center center')
              span Isovalue:
            md-slider(flex, min='0', max='100', ng-model='orbitalScale', class='md-primary', aria-label='scale', id='scale-slider', ng-mouseup="updateIsovalue()")
          table
            tbody
              tr
                td Name:
                td {{ mol.name | mongochemUnderscores}}
              tr
                td Formula:
                td {{ mol.properties.formula | mongochemFormatFormula }}
              tr
                td Mass:
                td {{ mol.properties.mass }}
              //tr
              //  td InChI:
              //  td {{ mol.inchi }}
              tr
                td InChI Key:
                td {{ mol.inchikey }}
              tr(ng-show='hasOrbitals()')
                td Electron Count:
                td {{ orbitals.electronCount }}
              tr(ng-show='hasOrbitals()')
                td Molecular Orbital:
                td
                  md-select(id='mongochem-select-mo', ng-model='orbitals.mo', ng-change='moSelected()', placeholder='Select molecular orbital')
                    md-option(ng-repeat='mo in orbitals.mos', ng-value='{{mo.id}}')
                      {{mo.text}}
              tr
                td Current mode:
                td(ng-if='hasSpectra()')
                  md-select(id="mongochem-select-mode", ng-model="spectra.mode", ng-change="modeSelected()", placeholder="Select mode")
                    md-option(ng-repeat="m in vibrationalModes.modes", ng-value="{{m}}")
                      {{m}} ({{ vibrationalModes.frequencies[m-1].toFixed(2) }}, {{ vibrationalModes.intensities[m-1].toFixed(2) }})
                td(ng-if='!hasSpectra()') None
              tr(ng-if='hasSpectra()')
                td Experimental:
                td
                  md-select(id="mongochem-select-experimental", ng-model="spectra.experiment", ng-change="experimentSelected()", placeholder="Select experiment")
                    md-option(ng-repeat="experiment in experiments", ng-value="experiment")
                      {{ experiment.molecularFormula }}
                    md-option(ng-value="None")
          md-content(layout='row', layout-align="end end")
            md-menu(md-offset="0 -5")
              md-button(aria-label="Download", class="md-icon-button", ng-click="openDownloadMenu($mdOpenMenu, $event)")
                ng-md-icon(icon="cloud_download", style="fill: black")
              md-menu-content(width="4")
                md-menu-item(ng-repeat="format in ['CJSON', 'CML', 'XYZ']")
                  md-button(href="api/v1/molecules/{{selectedMolecule.id}}/{{format | lowercase}}", download="{{selectedMolecule.name}}.{{format |lowercase}}")
                    span {{format}}
