div(layout="column")
  md-content(style="background-color: #ddd")
    md-card(ng-controller="mongochemMoleculeHome")
      mongochem-3dmol(style="height: 400px; width:600px")
      md-card-content(ng-controller="mongochemMolecules")
        h2.md-title Molecule: {{selectedMolecule.name | mongochemUnderscores}}
        select(ng-options="molecule.name | mongochemUnderscores for molecule in molecules", ng-model="selectedMolecule", ng-change="setInchiKey(selectedMolecule.inchikey)")
        p Some links to molecules in the database...
        ul
          li(ng-repeat="molecule in molecules")
            a(href="#/molecule/{{molecule.inchikey}}") {{molecule.name | mongochemUnderscores}}
      div.md-actions(layout="row" layout-align="end center")
        md-button(ng-click="setViewStyle('line')") Lines
        md-button(ng-click="setViewStyle('stick')") Sticks
        md-button(ng-click="setViewStyle('ball')") Balls
