div(layout="column")
  md-content(style="background-color: #ddd")
    md-card(ng-controller="mongochemMoleculeHome")
      mongochem-3dmol(style="height: 400px; width:600px")
      md-card-content(ng-controller="mongochemMolecules")
        h2.md-title Molecule
        p Some links to molecules in the database...
        ul
          li(ng-repeat="molecule in molecules")
            a(href="#/home" ng-click="setInchiKey(molecule.inchikey)") {{molecule.name | mongochemUnderscores}}
      div.md-actions(layout="row" layout-align="end center")
        md-button(ng-click="setViewStyle('line')") Lines
        md-button(ng-click="setViewStyle('stick')") Sticks
        md-button(ng-click="setViewStyle('ball')") Balls
