div(layout="column")
  md-content(style="background-color: #ddd")
    md-card(ng-controller="mongochemMolecules")
      md-card-content(ng-controller="mongochemMoleculeHome", style="height: 75%;" )
        div(layout="row")
          div(layout="column", flex="40")
            mongochem-3dmol(style="height: 40%; width:100%")
            div.md-actions(layout="row" layout-align="end center")
              md-button(ng-click="setViewStyle('line')") Lines
              md-button(ng-click="setViewStyle('stick')") Sticks
              md-button(ng-click="setViewStyle('ball')") Balls
            h2.md-title Molecule: {{selectedMolecule.name | mongochemUnderscores}}
            span(flex)
        select(ng-options="molecule.name | mongochemUnderscores for molecule in molecules", ng-model="selectedMolecule", ng-change="setInchiKey(selectedMolecule.inchikey)")
        p Some links to molecules in the database...
          ul
            li(ng-repeat="molecule in molecules")
              a(href="#/molecule/{{molecule.inchikey}}") {{molecule.name | mongochemUnderscores}}
