.mongochem-max-height
  height 100%
.mongochem-fifty
  height 50%
  width 50%
.mongochem-logo
  height 40px
  width 40px
.mongochem-no-scroll
  overflow: hidden

md-toolbar .md-menu.mongochem-menu
  margin inherit

#mongochem-3dmol.mongochem-frequency-overlay
  canvas
    margin-top: -316px

.bar rect
  fill: #7986CB
  shape-rendering: crispEdges


//md-content[mongochem-frequency-histogram="mongochem-frequency-histogram"][mongochem-animating="false"] .bar rect:hover
//  fill: #3F51B5

.bar.selected rect
  fill: #3F51B5

.axis path, .axis line
  fill: none
  stroke: #000
  shape-rendering: crispEdges

#mongochem-select-mode, #mongochem-select-experimental, #mongochem-select-molecule, #mongochem-select-calculation
  margin: 0px 0px 0px 0px

#mongochem-search
  padding-bottom: 2px

.mongochem-no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

 #mongochem-query-input
   margin-bottom: 9px

