.mongochem-oauth-button-google
  background-color #d84936
  border 1px solid #ac3d2f
  color white
  text-transform none
  &:hover
    background-color #c83926

.mongochem-oauth-button-icon
  border-right-color #ac3d2f

.monogchem-gravatar
  width 40px
  height 40px
  margin-top 8px
  margin-bottom 8px
  margin-right 8px
  border-radius: 50%
  box-sizing: content-box