upload-grey = #7F7F7F
.mongochem-upload-area
  border 1px solid upload-grey
  width 400px
  height 300px

.mongochem-upload-area-drag
  border 3px solid upload-grey


.mongochem-upload-icon
  fill upload-grey

.mongochem-upload-text
  color upload-grey

.mongochem-upload-browse
  border 1px solid upload-grey

.mongochem-upload-drag-text
  margin 0px