.bar rect {
  fill: #7986CB;
  shape-rendering: crispEdges;
}

.bar.selected rect {
  fill: #3F51B5;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot circle  {
  fill: #2b8cbe;
}

.line {
  fill: none;
  stroke: #a6bddb;
  stroke-width: 3;
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 12px sans-serif;
  background: #2b8cbe;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.oc-free-energy {
  width: 100%;
  height: 100%;
}
