.bar rect {
  fill: #7986CB;
  shape-rendering: crispEdges;
}

.bar.selected rect {
  fill: #3F51B5;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot circle  {
  fill: #2b8cbe;
}

.line {
    fill: none;
    stroke: #a6bddb;
    stroke-width: 3;
    shape-rendering: crispEdges;
}