body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

pre {
  text-align: left
}

.oc-logo {
  height: 2.5rem;
}

.oc-google {
  height: 20px;
}

.oc-nersc {
  height: 20px;
}

.r-icon-btn {
  margin-left: 0.5rem;
}

.l-icon-btn {
  margin-right: 0.5rem;
}

.full-width {
  width: 100%;
}

.action-btn {
  margin-left: 1rem;
}
