body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

pre {
  text-align: left
}

.oc-logo {
  height: 2.5rem;
}

.oc-google {
  height: 1.25rem;
}

.oc-nersc {
  height: 1.25rem;
}

.oc-girder {
  height: 1.25rem;
}

.r-icon-btn {
  margin-left: 0.5rem;
}

.l-icon-btn {
  margin-right: 0.5rem;
}

.full-width {
  width: 100%;
}

.action-btn {
  margin-left: 1rem;
}

.fill {
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-container {
  z-index: 1000;
}

.body-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  /* background: linear-gradient( #26A69A 0%, #26A69A 15rem, #F5F5F5 15rem, #F5F5F5 100%); */
}

.sidebar-container {
  background-color: #37474F;
  /* background-color: #455A64; */
  width: 15rem;
  z-index: 10;
}

.content-wrapper {
  /* padding-top: 2rem; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex-grow: 1;
  /* position: relative;
  max-width: 50rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%); */
}

.footer-container {

}