div.mongochem-upload-area(layout="column", layout-align="center center")
  span(flex)
  div(layout="column", layout-align="center center")
    ng-md-icon.mongochem-upload-icon(icon="cloud_upload", size="64")
    h3.mongochem-upload-text.mongochem-upload-drag-text Drag file here
  h4.mongochem-upload-text or
  mongochem-filebrowse-button(label="Browse your computer", action="uploadFile")
  span(flex)
