md-dialog(aria-label="Upload molecular data")
  md-dialog-content
    h2.md-title {{ title }}
    div.mongochem-upload
      div(layout="row", layout-align="center center", ng-show="errorMessage != null")
        h3.mongochem-upload-text.mongochem-upload-drag-text {{ errorMessage }}
      mongochem-upload-area(ng-show="!showPreview()")
      mongochem-3dmol.mongochem-upload-preview(flex, ng-show="showPreview()", ng-controller="mongochemMoleculeWatchScope")
    div.md-actions(layout="row")
    span(flex)
    md-button.md-raised.md-primary(ng-click="upload()") Upload
    md-button.md-raised.md-warn(ng-click="startOver()", ng-disabled="!showPreview()") Start Over
    md-button.md-raised.md-warn(ng-click="cancel()") Cancel
