md-sidenav.md-sidenav-left.md-whiteframe-z2( md-component-id="left", md-is-locked-open="$mdMedia('gt-md')", layout-align="center center")
  md-button.md-primary(ng-repeat="item in items", ui-sref="{{item.state}}") {{item.name}}
  md-button#mongochem-launch-filebrowser.md-primary(ng-show="allowUpload()", ng-click="showUploadDialog($event)") Upload
  input#mongochem-file-upload(type="file", multiple="true", style="display:none")

